Repository f-lab-edu/JBLY, pull requests merged in 2023-03, with the labels that each got.

#52 [#11, #35, #57] User SignUp test code 작성, Test 간 격리 기능 추가, Test 전용 h2 DB Setting
  .github/workflows/gradle.yml
  build.gradle
  src/main/java/com/flab/jbly/application/user/UserService.java
  src/main/java/com/flab/jbly/application/user/UserServiceImpl.java
  src/main/java/com/flab/jbly/application/user/command/UserSignUpCommand.java
  src/main/java/com/flab/jbly/domain/user/UserRepository.java
  src/main/java/com/flab/jbly/infrastructure/exception/ErrorCode.java
  src/main/java/com/flab/jbly/infrastructure/exception/user/DoesNotExistUserException.java
  src/main/java/com/flab/jbly/infrastructure/jpa/user/UserRepositoryAdapter.java
  src/main/java/com/flab/jbly/presentation/user/UserController.java
  src/main/java/com/flab/jbly/presentation/user/request/UserSignUpRequest.java
  src/main/resources/application.yml
  src/test/java/com/flab/jbly/.DS_Store
  src/test/java/com/flab/jbly/ApiTest.java
  src/test/java/com/flab/jbly/DatabaseCleanUp.java
  src/test/java/com/flab/jbly/user/UserApiTest.java
  src/test/java/com/flab/jbly/user/UserServiceTest.java
  src/test/java/com/flab/jbly/user/UserSteps.java
  src/test/resources/application.yml
Labels: feat, test, setting

#59 [#58] Product type refactoring, webDriver change
  crawling/dbConnection/__pycache__/MysqlConnect.cpython-39.pyc
  crawling/main.py
  crawling/parsing/MoreCherrySiteCrawling.py
  crawling/parsing/PorternaSiteCrawling.py
  crawling/parsing/ProductTypes.py
  crawling/parsing/TheVerlinSiteCrawling.py
  crawling/parsing/WebExecutor.py
  crawling/parsing/__pycache__/MoreCherrySiteCrawling.cpython-39.pyc
  crawling/parsing/__pycache__/PorternaSiteCrawling.cpython-39.pyc
  crawling/parsing/__pycache__/ProductTypes.cpython-39.pyc
  crawling/parsing/__pycache__/TheVerlinSiteCrawling.cpython-39.pyc
  crawling/parsing/__pycache__/WebExecutor.cpython-39.pyc
Labels: crawling

#60 [#56] The-verlin site detail information page crawling
  crawling/dbConnection/MysqlConnect.py
  crawling/main.py
  crawling/parsing/TheVerlinSiteCrawling.py
  crawling/parsing/WebExecutor.py
  requirements.txt
  src/main/java/com/flab/jbly/infrastructure/config/WebConfig.java
Labels: feat, crawling

#68 [#32, #53] python 자동 스케줄링, github action 적용
  .github/workflows/schedule.yml
  .github/workflows/scheduleTest.yml
  crawling/dbConnection/MysqlConnect.py
  crawling/dbConnection/ProductQuery.py
  crawling/main.py
Labels: refactor, crawling

#71 [#67] the-verlin site product detail html crawling
  crawling/dbConnection/MysqlConnect.py
  crawling/main.py
  crawling/parsing/MoreCherrySiteCrawling.py
  crawling/parsing/PorternaSiteCrawling.py
  crawling/parsing/TheVerlinSiteCrawling.py
  frontend/reactfront/src/component/paging/ProductList.jsx
Labels: feat, crawling

#73 [#69] more-cherry site product detail html crawling
  crawling/parsing/MoreCherrySiteCrawling.py
Labels: feat, crawling

#74 [#32] Crawling application scheduling fix
  .github/workflows/schedule.yml
  .github/workflows/scheduleTest.yml
  crawling/requirements.txt
  requirements.txt
Labels: bug

#76 [#70] porterna site product detail html crawling
  crawling/main.py
  crawling/parsing/PorternaSiteCrawling.py
Labels: feat, crawling

#77 [#72] null로 db insert 되는 문제 해결
  crawling/dbConnection/MysqlConnect.py
  crawling/dbConnection/ProductQuery.py
  crawling/main.py
  crawling/parsing/MoreCherrySiteCrawling.py
  crawling/parsing/PorternaSiteCrawling.py
  crawling/parsing/TheVerlinSiteCrawling.py
Labels: chore, crawling

#81 [#80] DDL 형상 관리 툴 Flyway 적용
  build.gradle
  src/main/java/com/flab/jbly/domain/product/Product.java
  src/main/resources/application.yml
  src/main/resources/db/migration/V1__init_project_tables.sql
  src/main/resources/db/schema.sql
Labels: chore, infra

#82 [#34] Local DB에서 Cloud DB로 Migration
  src/main/resources/application.yml
  src/main/resources/db/migration/V1__init_project_tables.sql
Labels: chore, infra

#88 [#86] Crawling Web Engine Problem slove
  .github/workflows/schedule.yml
  crawling/main.py
  crawling/parsing/MoreCherrySiteCrawling.py
  crawling/parsing/PorternaSiteCrawling.py
  crawling/parsing/TheVerlinSiteCrawling.py
Labels: bug

#108 [#11, #13, #14] 회원 계정 요구사항 테스트 코드 작성
  src/main/java/com/flab/jbly/application/user/UserService.java
  src/main/java/com/flab/jbly/application/user/UserServiceImpl.java
  src/main/java/com/flab/jbly/application/user/command/AccountDeleteCommand.java
  src/main/java/com/flab/jbly/application/user/command/AccountUpdateCommand.java
  src/main/java/com/flab/jbly/domain/user/User.java
  src/main/java/com/flab/jbly/domain/user/UserRepository.java
  src/main/java/com/flab/jbly/infrastructure/config/WebConfig.java
  src/main/java/com/flab/jbly/infrastructure/exception/ErrorCode.java
  src/main/java/com/flab/jbly/infrastructure/exception/user/AccountMisMatchInfoException.java
  src/main/java/com/flab/jbly/infrastructure/jpa/user/UserRepositoryAdapter.java
  src/main/java/com/flab/jbly/presentation/user/UserController.java
  src/main/java/com/flab/jbly/presentation/user/request/AccountDeleteRequest.java
  src/main/java/com/flab/jbly/presentation/user/request/AccountUpdateRequest.java
  src/main/java/com/flab/jbly/presentation/user/request/LoginRequest.java
  src/main/java/com/flab/jbly/presentation/user/request/UserSignUpRequest.java
  src/test/java/com/flab/jbly/user/HashMapRepository.java
  src/test/java/com/flab/jbly/user/UserApiTest.java
  src/test/java/com/flab/jbly/user/UserServiceTest.java
  src/test/java/com/flab/jbly/user/UserSteps.java
  src/test/java/com/flab/jbly/user/UserUnitTest.java
Labels: test

#114 Project Readme 작성
  README.md
Labels: chore

#120 [#79] 더베를린 쇼핑몰 상품 상세 이미지 다운로드 기능
  README.md
  crawling/common/ProductTypes.py
  crawling/dbConnection/ProductQuery.py
  crawling/img/img_download.py
  crawling/img/theverlin_img_download.py
  crawling/parsing/PorternaSiteCrawling.py
Labels: crawling

#122 [#75] 포르테나 쇼핑몰 상품 상세 이미지 다운로드 기능
  crawling/img/img_download.py
  crawling/img/porterna_detailimg_download.py
Labels: feat, crawling
