Repository f-lab-edu/JBLY, pull requests merged in 2023-04, with the labels that each got.

#125 [#78] Open CV를 이용해 상세 이미지 한 개를 여러 개의 이미지로 자른 후 다운로드 하는 기능
  crawling/img/img_crop.py
  crawling/img/img_download_mc.py
  crawling/img/morecherry_img_download.py
  crawling/img/test.py
  crawling/img/theverlin_img_download.py
Labels: feat, crawling, open-cv

#124 [#119] 페이지 아이템 크롤링 시 함께 진행되던 상세 페이지 크롤링 분리로 9분대 시간을 5분대로 줄임
  crawling/Application.py
  crawling/crawlingSite/.DS_Store
  crawling/crawlingSite/CrawlingPageModule.py
  crawling/crawlingSite/MoreCherrySiteCrawling.py
  crawling/crawlingSite/PorternaSiteCrawling.py
  crawling/crawlingSite/TheVerlinSiteCrawling.py
  crawling/crawlingSite/__init__.py
  crawling/detailPage/DetailPageCrawlingModule.py
  crawling/detailPage/DetailPageUrlProcess.py
  crawling/detailPage/DetailPageUrlThread.py
  crawling/detailPage/__init__.py
  crawling/detailPage/morecherryDetailPageCrawling.py
  crawling/detailPage/porternaDetailPageCrawling.py
  crawling/detailPage/theverlinDetailPageCrawling.py
  crawling/main.py
  crawling/parsing/CrawlingSiteModule.py
  crawling/parsing/MoreCherrySiteCrawling.py
  crawling/parsing/PorternaSiteCrawling.py
  crawling/parsing/TheVerlinSiteCrawling.py
  crawling/urlCollection/MoreCherryUrlsCollector.py
  crawling/urlCollection/PorternaUrlsCollector.py
  crawling/urlCollection/TheVerlinUrlsCollector.py
  crawling/urlCollection/UrlCollectionModule.py
  crawling/util/Chunker.py
Labels: crawling

#128 [Refactoring] Crawling Page Url Parsing 시 사용 모듈 변경
  crawling/detailPage/DetailPageCrawlingModule.py
  crawling/detailPage/DetailPageUrlThread.py
  crawling/urlCollection/MoreCherryUrlsCollector.py
  crawling/urlCollection/PorternaUrlsCollector.py
  crawling/urlCollection/TheVerlinUrlsCollector.py
  crawling/urlCollection/UrlCollectionModule.py
Labels: refactor

#131 [#130] OpenCV로 이미지 자를 때 지정한 사이즈가 아닌 랜덤 사이즈로 저장되는 문제 해결
  crawling/download/morecherry_img_download.py
  crawling/download/porterna_img_download.py
  crawling/download/theverlin_img_download.py
  crawling/img/morecherry_img_url_scrap.py
  crawling/img/opencv/__init__.py
  crawling/img/opencv/img_crop.py
Labels: feat, refactor, open-cv

#135 [#93] mysql query 성능 튜닝. 55초에서 15초로 성능 개선
  crawling/Application.py
  crawling/crawlingSite/crawling_page_module.py
  crawling/crawlingSite/morecherry_site_crawling.py
  crawling/crawlingSite/porterna_site_crawling.py
  crawling/crawlingSite/theverlin_site_crawling.py
  crawling/dbConnection/CloudDBConnectionInfo.py
  crawling/dbConnection/ProductQuery.py
  crawling/dbConnection/cloud_db_connection_Info.py
  crawling/dbConnection/database_module.py
  crawling/dbConnection/mysql_connect.py
  crawling/dbConnection/product_query.py
  crawling/detailPage/detail_page_crawling_module.py
  crawling/detailPage/detail_page_url_process.py
  crawling/detailPage/detail_page_url_thread.py
  crawling/detailPage/morecherry_detail_page_crawling.py
  crawling/detailPage/porterna_detail_page_crawling.py
  crawling/detailPage/theverlin_detail_page_crawling.py
  crawling/main.py
  crawling/urlCollection/morecherry_urls_collector.py
  crawling/urlCollection/porterna_urls_collector.py
  crawling/urlCollection/theverlin_urls_collector.py
  crawling/urlCollection/url_collection_module.py
  crawling/util/chunker.py
  requirements.txt
Labels: enhancement, feat
